
<div class="container mt-5">
    <div class="text-right my-2">
        <button type="button" class="btn btn-primary" (click)="openModal()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-up" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
              </svg>Add Enquiry</button>
     </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" >
            <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">EnquiryName</th>
                    <th scope="col">PhoneNo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">DOB</th>
                    <th scope="col">EnquiryFor</th>
                    <th scope="col">Status</th>
                    <th scope="col">CreatedOn</th>
                    <th scope="col">ModifiedOn</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let enquiryList of enquiryData " class="bg-white-light">
                    <td>{{enquiryList.enquiryName}}</td>
                    <td>{{enquiryList.phoneNo}}</td>
                    <td>{{enquiryList.email}}</td>
                    <td>{{enquiryList.gender}}</td>
                    <td>{{enquiryList.dob}}</td>
                    <td>{{enquiryList.enquiryFor}}</td>
                    <td>{{enquiryList.status}}</td>
                    <td>{{enquiryList.createdOn}}</td>
                    <td>{{enquiryList.modifiedOn}}</td>
                    
                    <td>
                        <button type="button" style="margin: 2px;" class="btn btn-primary">Edit</button>
                         <button type="button"  style="margin: 2px;" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 
  </div>
 
