.banner-card{
    width: 195px;
    height: 170px;
    background-color: rgb(224, 221, 230);
    border-radius: 12px;
    box-shadow: 1px 1px 5px black;
}
.main{
    display: flex;
    gap: 39px;
    margin-top: 40px;
    padding-left: 56px;
}
#imgSet{
    mix-blend-mode: color-burn;
    padding-left: 30px;
    
}
#center{
    text-align: center;
    color: blueviolet;
}