<div class="main">
     <div class="banner-card"><img id="imgSet" src="\assets\download (1).jpg " width="150"><article id="center">Register</article></div>
     <div class="banner-card"><img  id="imgSet"  src="\assets\images.png" width="150"><article id="center">View Registration List</article></div>
     <div class="banner-card"><img id="imgSet"  src="\assets\Enquiry.jpg" width="150"><article id="center">View Enquiries(23)</article></div>
     <div class="banner-card"><img id="imgSet"  src="\assets\images\Religion managment.png" width="150"><article id="center">Religion Management</article></div>
     <div class="banner-card"><img id="imgSet"  src="\assets\ForCitiesManagment.jpg" width="150"><article id="center">State Management</article></div>
    
  </div>
  <br>
  <div class="main">
    <div class="banner-card"><img  id="imgSet"  src="\assets\ForCitiesManagment.jpg" width="150"><article id="center">City Management</article></div>
    <div class="banner-card"><img  id="imgSet" src="\assets\Caste Management.png" width="150"><article id="center">Caste Management</article></div>
    <div class="banner-card"><img  id="imgSet" src="\assets\Education.png" width="150"><article id="center">Education</article></div>
    <div class="banner-card"><img  id="imgSet" src="\assets\images (2).jpg" width="150"><article id="center">Change Password</article></div>
   
 </div>